doctype html
html(lang="en")
    head
        title Pushing the Limits of Mobile
        meta(name="viewport", content="width=1024")
        link(href='../lib/foundation.min.css', rel='stylesheet')
        link(href='../lib/style.css', rel='stylesheet')

    body.impress-not-supported
        #impress

            .step.slide(data-x='-2000')
                h1 Jonathan Kim
                h3 @hijonathan

            .step.slide.accented(data-x='0')
                h1 Pushing the Limits of (Mobile) Email

            .step.slide(data-x='2000')
                h1.accent Questions?

            //- #fin.step.slide.accented(data-x='1500', data-y='8000', data-z='3000', data-scale='4')
            //-     h1 Thank you

            #overview.step(data-x='0', data-y='1000', data-z='3000', data-scale='10')

        script(type='text/javascript', src='../lib/impress.js')
        script.
            impress().init();
